<section class="container pt-3">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-info"><i class="fas fa-users"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Usuários</span>
          <span class="info-box-number">90<small></small></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-success"><i class="fas fa-shopping-cart"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Pedidos</span>
          <span class="info-box-number">41,410</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-warning"><i class="fas fa-comments"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Mensagens</span>
          <span class="info-box-number">760</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

  </div>

  <div class="container">
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h3>Ultimos pedidos</h3>
        </div>
        <div class="card-body">
          <table>
            <thead>
              <th>#ID</th>
              <th>Cliente</th>
              <th>Status</th>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
