<section class="login" style="height: 90vh;">
  <div class="row align-items-center justify-content-center h-100">
    <div class="col-md-4 col-sm-12">
      <div class="card shadow-md">
        <div class="card-body text-center">
          <div class="row">
            <div class="col-12">
              <img src="https://dummyimage.com/100x100/000/fff" alt="logo" class="img-fluid mb-5 mt-3 shadow-sm">
            </div>
            <div class="col-12">
              <form>
                <input type="text" class="form-control mb-3" placeholder="Nome">
                <input type="email" class="form-control mb-3" placeholder="Seu email">
                <input type="password" class="form-control mb-3" placeholder="Sua senha">
                <input type="password" class="form-control mb-3" placeholder="Confirmar senha">
                <button class="btn btn-success btn-block">Entrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
